html { background: #f9f7c0; }
body, div { margin: 0; padding: 0; border: 0; }
body {
  width: 100%;
  /* overflow: hidden; */
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer, Edge */
            user-select: none; /* Future */
}

/* Navigation panel =============================================== */
#nav {
  height: 32px;
  width: 100%;
}
#nav a, #nav p, #nav .nav-item {
  color: #333;
  background-color: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  border: 0;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
#nav ul li.current-menu-item {
  background-color: #ddd;
}
#nav ul li:hover {
  background-color: #888;
}
#nav ul, #nav ul li {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}
#nav ul ul li {
  float: none;
  width: 150px;
}
#nav ul ul ul {
  top: 0;
  left: 100%;
}
#nav ul li:hover > ul {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Table of games ================================================ */
#games {
  border: 1px solid #aaa;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: 14px;
}
#games td {
  text-align: center;
  padding: 2px 5px;
}
#games tr:nth-child(1) { background: #c2c2c2; }
#games tr:nth-child(even) { background: #f7dc96; }
#games .myturn { font-weight: bold; }
#games .oppturn { font-weight: normal; }
#games a { color: #663c32; }

/* Board ========================================================= */
#container { display: flex; }
#board { flex-grow: 1; }
/* #board { text-align: center; } */

#board text { font-family: sans-serif; }

#board .active { cursor: pointer; }
#board .bearoff {
  font-size: 9px;
  text-anchor: middle;
}
#board .players text { text-anchor: end; }
#board .pip text { text-anchor: middle; }

#info {
  font-size: 14px;
  font-family: sans-serif;
}
#info p {
  margin: 4px 6px;
}
