html { background: #fff; }
body, div { margin: 0; padding: 0; border: 0; }
body {
  width: 100%;
  /* overflow: hidden; */
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#board {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer, Edge */
            user-select: none; /* Future */
}

text { font-family: sans-serif; }

.checkers .player { cursor: pointer; }
.dice { cursor: pointer; }
.button { cursor: pointer; }
.bearoff {
  font-size: 9px;
  text-anchor: middle;
}
.players text { text-anchor: end; }
.pip text { text-anchor: middle; }
