html { background: #fff; }
body, div {
  margin: 0; padding: 0; border: 0;
}
body {
  width: 100%;
  overflow: hidden;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#board {
  text-align: center;
}

.checker.top {
  cursor: move;
}
.die {
  cursor: pointer;
}
